In [4]:
from supabase import create_client
import pandas as pd
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

# Create Supabase client
supabase = create_client(
    os.getenv("SUPABASE_URL"),
    os.getenv("SUPABASE_KEY")
)

# Fetch data from Supabase table
response = supabase.table("titanic_data").select("*").execute()

# Convert JSON to DataFrame
df = pd.DataFrame(response.data)

# Display outputs
print(df.head())
print(df.info())
print(df.isnull().sum())
print(df.describe())
print(df.columns)

   id  survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0   1         0       3    male  22.0      1      0   7.2500        S  Third
1   2         1       1  female  38.0      1      0  71.2833        C  First
2   3         1       3  female  26.0      0      0   7.9250        S  Third
3   4         1       1  female  35.0      1      0  53.1000        S  First
4   5         0       3    male  35.0      0      0   8.0500        S  Third

     who     deck  embark_town  alone  family_size  is_alone  title
0    man  Unknown  Southampton  False            2     False    Man
1  woman        C    Cherbourg  False            2     False  Woman
2  woman  Unknown  Southampton   True            1      True  Woman
3  woman        C  Southampton  False            2     False  Woman
4    man  Unknown  Southampton   True            1      True    Man
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   sex          891 non-null    object
 4   age          891 non-null    float64
 5   sibsp        891 non-null    int64
 6   parch        891 non-null    int64
 7   fare         891 non-null    float64
 8   embarked     891 non-null    object
 9   class        891 non-null    object
 10  who          891 non-null    object
 11  deck         891 non-null    object
 12  embark_town  889 non-null    object
 13  alone        891 non-null    bool
 14  family_size  891 non-null    int64
 15  is_alone     891 non-null    bool
 16  title        891 non-null    object
dtypes: bool(2), float64(2), int64(6), object(7)
memory usage: 106.3+ KB
None
id             0
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
deck           0
embark_town    2
alone          0
family_size    0
is_alone       0
title          0
dtype: int64
               id    survived      pclass         age       sibsp       parch  \
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean   446.000000    0.383838    2.308642   29.361582    0.523008    0.381594
std    257.353842    0.486592    0.836071   13.019697    1.102743    0.806057
min      1.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%    223.500000    0.000000    2.000000   22.000000    0.000000    0.000000
50%    446.000000    0.000000    3.000000   28.000000    0.000000    0.000000
75%    668.500000    1.000000    3.000000   35.000000    1.000000    0.000000
max    891.000000    1.000000    3.000000   80.000000    8.000000    6.000000

             fare  family_size
count  891.000000   891.000000
mean    32.204208     1.904602
std     49.693429     1.613459
min      0.000000     1.000000
25%      7.910400     1.000000
50%     14.454200     1.000000
75%     31.000000     2.000000
max    512.329200    11.000000
Index(['id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'deck', 'embark_town', 'alone',
       'family_size', 'is_alone', 'title'],
      dtype='object')